
<h1>Leaderboard</h1><br>
<h2>Today's Decree</h2>
<h2><%= @current_prompt.content %>By: King  <%= @current_prompt.king.last_name.upcase %><br></h2>

<%  @current_prompt.responses.each do |response|%>
  <table>
    <tr>
      <td><%=  response.content %></td>
      <td>
        <%=  response.subject.username %>
      </td>
      <td>
        <%=  response.votes.count %>
      </td>
    </tr>
  </table>
<% end %>
