<head>
  <style>
    .panel,.panel-default {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 25px;
    }

  </style>
</head>
<body>
  <div class="container" style="font-family: Lucida Blackletter">


      <h1>Leaderboard</h1>


  </div>

<div class="container" style="font-family: Lucida Blackletter">
  <div class="panel">

    <h2>Today's Decree:</h2>
    <h2><%= @current_prompt.content %></h2>
      <h3><%=link_to "By: King #{@current_prompt.king.last_name.capitalize}", user_path(@current_prompt.king) %></h3><br>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Response</th>
        <th>Subject</th>
        <th>Number of Votes</th>
      </tr>
    </thead>
    <tbody>
      <%  @current_prompt.responses.each do |response|%>
          <tr>
            <td><%=  response.content %></td>
            <td>
              <%=  response.subject.last_name %>
            </td>
            <td>
              <%=  response.votes.count %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</body>
