
<div class="container">
    <div class="panel panel-default">
        <div class="row">
            <!-- left side -->
            <div class="col-lg-7 col-md-7 col-sm-7">
                <!-- <div class="panel panel-default"> -->
                    <div class="panel-body">
                      <h3>The King hath decreed that the prompt is:</h3>
                      <div class="prompt">
                        <%if @current_prompt.pending == false%>
                          <strong><h2><%= @current_prompt.content %></h2></strong>
                          <%= image_tag @current_prompt.image.url(:medium) %>
                        <% end %>
                      </div>
                    </div>
                <!-- </div> -->
            </div>
            <!-- right side -->
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel-body">
                    <div class="thumbnail">

                      <img src="<%= @current_prompt.king.profile_picture_url %>"  alt="...">
                      <div class="caption">

                        <h3>King <%= @current_prompt.king.full_name %></h3>
                        <p>Rank: TBD</p>
                        <p>Points: TBD</p>
                        <p><center><a href="/users/<% @current_prompt.king.id %>" class="btn btn-primary" role="button">Profile</a></center></p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <center><button type="button" class="btn btn-primary btn-lg" style="width:80%">Respond to Ye King</button></center>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <center><button type="button" class="btn btn-primary btn-lg" style="width:80%">Overthrow Ye King</button></center>
            </div>
        </div>
        <br>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if logged_in? && current_user != @current_prompt.king %>
          <%= form_for @response do |f|%>
            <%= f.hidden_field :subject_id, value: current_user.id %>
            <%= f.hidden_field :prompt_id, value: @current_prompt.id %>
            <div class="field">
              <label for="exampleInputFile">Response</label>
              <%= f.text_field :content, class: "form-control", placeholder: "Enter your response here" %>
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            </div>
            <div class="actions">
              <%= f.submit "Respond", class: "btn btn-primary" %>
            </div>
          <% end %>
        </form>
        <% end %>
      </div>
    </div>
</div>


<% @current_prompt.responses.each do |response| %>
<div class="container" id="response_<%= response.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1" id="votes-column" style="margin-top:1%">
          <div style="display:block; text-align:center">
            <%= link_to vote_path(id: response.id), method: :post, remote: true, 'data-type' => 'json', class: 'vote-link' do %>
              <i class="<%= response.upvote_class(current_user) %>" aria-hidden="true" style="font-size: 40px"></i>
            <% end %>
            <figcaption class="figure-caption text-xs-right vote-count"><%= response.votes.count %> Votes</figcaption>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <label for="exampleInputFile"><%= response.subject.full_name %> responded...</label>
          <p class="list-group-item-text"><%= response.content %></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <div style="display:block; text-align:center">
            <img src="<%= response.subject.profile_picture_url %>" alt="..." class="img-rounded" style="horizontal-align: middle; width:64px; height:64px">
            <figcaption class="figure-caption text-xs"><%= response.subject.full_name %></figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
