<!DOCTYPE>
<html>
<head></head>
<body>




<div class="container">
    <div class="panel panel-default">
        <div class="row">
            <!-- left side -->
            <div class="col-lg-7 col-md-7 col-sm-7">
                <!-- <div class="panel panel-default"> -->



                  <%if prompt_pending? || (@current_prompt.king == false) %>


                    <div class="panel-body pending-decree">
                      <h3>Please enjoy a cup of coffee!</h3>
                      <div class="prompt">
                        <h2> New Decree Pending </h2>
                        </div>
                    </div>


                  <%else%>

                    <div class="panel-body show-decree">
                      <h3>Henceforth the king hath decreed!</h3>
                      <div class="prompt">
                        <%if !@current_prompt.pending%>
                          <strong><h2 style="font-size: 2.5em"><%= @current_prompt.content %></h2></strong>
                          <%= image_tag @current_prompt.image.url(:medium) %>
                        <% end %>
                      </div>
                    </div>


                <% end %>

                <!-- </div> -->





            </div>
            <!-- right side -->

            <%if prompt_pending? || (@current_prompt.king == false) %>


            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel-body">
                    <div class="thumbnail">

                      <img src="<%= User.current_king.profile_picture_url %>"  alt="...">
                      <div class="caption">
                      <%User.current_king%>
                        <center><h3 style="line-height:0.5em; margin-top:0.5em; font-weight: bold">King <%= User.current_king.abbreviated_full_name %></h3></center>
                        <center><p style="font-size: 1.2em; line-height:0.6em; margin-top:0.7em"><%= User.current_king.check_rank %></p></center>
                        <center><p style="font-size: 1.2em; line-height:0.6em; margin-top:0.7em" id="king-points"><%= User.current_king.points %> points</p></center>
                        <br>

                        <p style="font-size: 0.8em; line-height:0.25em; margin-top:0.25em">Joined Kingdom: <%= User.current_king.created_at.strftime("%a, %b %d %Y") %> </p>
                        <center><p><a href="/users/<% @current_prompt.king.id %>" class="btn btn-primary" role="button">Profile</a></p></center>
                      </div>
                    </div>
                </div>
            </div>
          </div>




            <% else %>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel-body">
                    <div class="thumbnail">

                      <img src="<%= @current_prompt.king.profile_picture_url %>"  alt="...">
                      <div class="caption">
                      <%@current_prompt.king%>
                        <center><h3 style="line-height:0.5em; margin-top:0.5em; font-weight: bold">King <%= @current_prompt.king.abbreviated_full_name %></h3></center>
                        <center><p style="font-size: 1.2em; line-height:0.6em; margin-top:0.7em"><%= @current_prompt.king.check_rank %></p></center>
                        <center><p style="font-size: 1.2em; line-height:0.6em; margin-top:0.7em" id="king-points"><%= @current_prompt.king.points %> points</p></center>
                        <br>
                        <p style="font-size: 0.8em; line-height:0.25em; margin-top:0.25em">Reign Began: <%= @current_prompt.created_at.strftime("%a, %b %d %Y") %> </p>
                        <p style="font-size: 0.8em; line-height:0.25em; margin-top:0.25em">Joined Kingdom: <%= @current_prompt.king.created_at.strftime("%a, %b %d %Y") %> </p>
                        <center><p><a href="/users/<% @current_prompt.king.id %>" class="btn btn-primary" role="button">Profile</a></p></center>
                      </div>
                    </div>
                </div>
            </div>
          </div>
           <% end %>


<%if prompt_pending? || (@current_prompt.king == false) || (@current_prompt.king == current_user) %>

<% else %>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <center><button type="button" class="btn btn-primary btn-lg" style="width:80%" id="respond-button">Respond to The King</button></center>
            </div>
            <div class="col-lg-6 col-m<%=  %>d-6 col-sm-6">
              <%= button_to "Overthrow the King ", overthrows_path, type: "button", class: "btn btn-primary btn-lg", style: "width:80%", id: "overthrow-button" %>
            </div>

              <% end %>
        </div>
        <br>
    </div>
</div>




<%if prompt_pending? || (@current_prompt.king == false) %>

<%else %>


<% if logged_in? && current_user != @current_prompt.king %>
  <div class="container" id="respond-form">
      <div class="panel panel-default">
        <div class="panel-body">
            <%= form_for @response do |f|%>
              <%= f.hidden_field :subject_id, value: current_user.id %>
              <%= f.hidden_field :prompt_id, value: @current_prompt.id %>
              <div class="field">
                <label for="exampleInputFile">Response</label>
                  <%= f.text_field :content,  class: "form-control text_response", placeholder: "Enter your response here" %>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" class="image_response" id="exampleInputFile" aria-describedby="fileHelp">
              </div>
              <div class="actions">
                <%= f.submit "Respond", class: "btn btn-primary", id: "respond-button-submit" %>
              </div>
            <% end %>
          </form>
        </div>
      </div>
  </div>
<% end %>


<div class="container" id="overthrow-box">
  <div class="panel panel-default">
    <div class="panel-body">
      <br>
      <center><h3 style="line-height:0.5; margin-top:0.5em;">The revolution is underway!</h3></center>
      <center><h3 style="line-height:0.5; margin-top:0.5em;">If enough subjects move to overthrow, a new king shall be crowned.</h3></center>
      <br>
    </div>
  </div>
</div>


<% @current_prompt.responses.each do |response| %>
<div class="container" id="response_<%= response.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1" id="votes-column" style="margin-top:1%">
          <div style="display:block; text-align:center">
            <%= link_to vote_path(id: response.id), method: :post, remote: true, 'data-type' => 'json', class: 'vote-link' do %>
              <i class="<%= response.upvote_class(current_user) %>" aria-hidden="true" style="font-size: 40px"></i>
            <% end %>
            <figcaption class="figure-caption text-xs-right vote-count"><%= response.votes.count %> Votes</figcaption>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9" style="position:relative">
          <p class="list-group-item-text" style="font-size: 2.25em"><%= response.content %><br><%= image_tag @current_prompt.image.url(:medium) %></p>
          <br>
          <br>
          <p> <%= response.subject.abbreviated_full_name %> responded <%= response.subject.created_at.strftime("%a, %b %d %Y") %></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <div style="display:block; text-align:center">
            <img src="<%= response.subject.profile_picture_url %>" alt="..." class="img-rounded" style="horizontal-align: middle; width:64px; height:64px">
            <p class="figure-caption text-xs" style="font-size: 1.2em; line-height:0.5; margin-top:0.5em; font-weight: bold"><%= response.subject.abbreviated_full_name %></p>
            <p class="figure-caption text-xs" style="font-size: 1em; line-height:0.3; margin-top:.05em"><%= response.subject.check_rank %></p>
            <p class="figure-caption text-xs" style="font-size: 1em; line-height:0.3; margin-top:.05em" id="subject-points"><%= response.subject.points %> Points</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
</body>
</html>
