
<div class="container">
    <div class="panel panel-default">
        <div class="row">
            <!-- left side -->
            <div class="col-lg-7 col-md-7 col-sm-7">
                <!-- <div class="panel panel-default"> -->
                    <div class="panel-body">
                      <h3>The King hath decreed that the prompt is:</h3>
                      <div class="prompt">
                        <strong><h2><%= @current_prompt.content %></h2></strong>
                      </div>
                    </div>
                <!-- </div> -->
            </div>
            <!-- right side -->
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel-body">
                    <div class="thumbnail">
                      <img src="..." alt="...">
                      <div class="caption">

                        <h3>King <%= @current_prompt.king.full_name %></h3>
                        <p>...</p>
                        <p><center><a href="#" class="btn btn-primary" role="button">Button</a></center></p>
                      </div>
                    </div>
                </div>
            </div>
            <div>
              <center>
              <button type="button" class="btn btn-primary btn-lg">Respond to Ye King</button>
              <button type="button" class="btn btn-primary btn-lg">Overthrow Ye King</button>
              </center>
              <br>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if current_user != @current_prompt.king %>
          <%= form_for @response do |f|%>
            <%= f.hidden_field :subject_id, value: current_user.id %>
            <%= f.hidden_field :prompt_id, value: @current_prompt.id %>
            <%= f.text_area :content %>
            <%= f.submit %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>


<% @current_prompt.responses.each do |response| %>
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= response.content %>
          posted by: <%= response.subject.full_name %>
        </div>
      </div>
  </div>
<% end %>
