
<div class="container">
    <div class="panel panel-default">
        <div class="row">
            <!-- left side -->
            <div class="col-lg-7 col-md-7 col-sm-7">
                <!-- <div class="panel panel-default"> -->
                    <div class="panel-body">
                      <h3>The King hath decreed that the prompt is:</h3>
                      <div class="prompt">
                        <strong><h2><%= @current_prompt.content %></h2></strong>
                        <%= image_tag @current_prompt.image.url(:medium) %>
                      </div>
                    </div>
                <!-- </div> -->
            </div>
            <!-- right side -->
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel-body">
                    <div class="thumbnail">
                      <img src=<%= @current_prompt.king.profile_picture_url %> alt="...">
                      <div class="caption">

                        <h3>King <%= @current_prompt.king.full_name %></h3>
                        <p>...</p>
                        <p><center><a href="#" class="btn btn-primary" role="button">Button</a></center></p>
                      </div>
                    </div>
                </div>
            </div>
            <div>
              <center>
              <button type="button" class="btn btn-primary btn-lg">Respond to Ye King</button>
              <button type="button" class="btn btn-primary btn-lg">Overthrow Ye King</button>
              </center>
              <br>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if logged_in? && current_user != @current_prompt.king %>
          <%= form_for @response do |f|%>
            <%= f.hidden_field :subject_id, value: current_user.id %>
            <%= f.hidden_field :prompt_id, value: @current_prompt.id %>
            <div class="field">
              <%= f.text_field :content, class: "form-control", placeholder: "Enter your response here" %>
              <%= f.file_field :image, class: "form-control"%>
            </div>
            <div class="actions">
              <%= f.submit "Respond", class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>


<% @current_prompt.responses.each do |response| %>
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= response.content %>
          <%= image_tag response.image.url(:medium) %>
          posted by: <%= response.subject.full_name %>
        </div>
        <div class="vote">

<%= link_to vote_path(id: response.id), method: :post, remote: true, id: "vote_link" do %>
              <div class="like-btn text-center" response_id="<%= response.id %>">
               <span class=<%= response.upvote_class(current_user) %> </span>
              </div>
            <% end %>
            <div class="votes-message" x_id="<%= response.id %>"> <span class=<%= response.votes_message(current_user) %></span></div>
          </div>
      </div>
  </div>
<% end %>
