

<h1><%= @current_prompt.content %> by <%= @current_prompt.king.username %><br>
current_user <%= current_user.username%><br>
<%= render @current_prompt.responses %></h1>

<%= form_for @response do |f|%>
  <%= f.hidden_field :subject_id,value: current_user.id %>
  <%= f.hidden_field :prompt_id,value: @current_prompt.id %>
  <%= f.text_area :content %>
  <%= f.submit %>
<%end  %>
