
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .panel,.panel-default {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 25px;
    }

  </style>
</head>
<body>


<div class="container" style="font-family: Lucida Blackletter">
    <div class="panel">
   <h2><%=@prompt.content%></h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Response</th>
        <th>Total Votes</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>

    <% @prompt.responses.each do |r| %>
      <tr>
        <td><%=r.content%></td>
        <td><%=r.votes.count%></td>
        <td><%=link_to r.subject.full_name, user_path(r.subject)%></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
</div>
<%if @prompt.pending %>
  <%if current_user.admin %>
  Hi <%= current_user.first_name %>, please approve the current decree<br>
  <%= button_to "Approve Decree", prompt_path, form_class: "approve-button", method: :post%>
  <% end %>
  <% end %>

  </body>
</html>
