<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .panel,.panel-default {
      background-color: rgba(255, 255, 255, 0.6);
    }
  </style>
</head>
<body>



  <div class="container" style="font-family: Lucida Blackletter">
    <div class="panel">
      <div class="panel-default">
        <br><br>
        <img src="<%=@user.profile_picture_url%>" class="pull-right" height="200" width="200">
        <br><br><br>
        <% if @user.decrees.size == 1 %>
        <h1> <%= @user.first_name %> has been &#9813; &#9812; King &#9812; &#9813; <%= @user.decrees.size%> time! </h1>
        <% else %>
        <h1> <%= @user.first_name %> has been &#9813; &#9812; King &#9812; &#9813; <%= @user.decrees.size%> times! </h1>
        <%end  %>
        <br>
        <br>
        <br>
        <hr>
        <h3><%= @user.first_name %>'s past decrees: </h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <% @user.decrees.each do |d| %>
               <td><h4><%= link_to d.content, prompt_path(d) %></h4></td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span-5">

        <h3><%= @user.first_name %>'s past responses: </h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <h4><th>Decree</th></h4>
              <h4><th>Response</th></h4>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @user.responses.each do |r| %>
                <td><%= r.prompt.content %></td>
                <td><%= r.content %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>

</body>
</html>
